.topbar{
  position: sticky;
  top: 0;
}

.myInput {
  height: 30px;
  max-width: 500px;
  margin-left: auto;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}

.input-group {
  --bs-border-radius: 50px;
}

.input-group span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.searchIcon{
  background-color: white;
  border-right: 0px;
}
.searchIcon span{
  height: 100%;
}

.searchInput{
  border-left: 0px;
}

.searchButton{
  --bs-btn-border-color: #dee2e6;
}
