:root body {
  font-family: "Montserrat", sans-serif;
}

:root {
  --black: #1c191a;
  --blackdisabled: hsl(350, 6%, 15%);
  --orange: #ff4500;
  --orangedark: #c93600;
  --darkcream: #b3a489;
  --cream: #e5e0d7;
  --lightcream: #edebe8;
  --lightgray: #f5f5f5;
  --white: #fafafa;
  --semitransparent: rgba(0, 0, 0, .05);
  --transparent: rgba(0, 0, 0, 0);
}

section.white{
  background-color: var(--white);
}

section.lightgray{
  background-color: var(--lightgray);
}

section.lightcream{
  background-color: var(--lightcream);
}

section.black{
  background-color: var(--black);
  color: var(--lightcream);
}

.bgDark{
  background-color: var(--black);
}

.table-transparent{
  --bs-table-color: var(--black);
  --bs-table-bg: #ffffff28;
  --bs-table-border-color: var(--darkcream);
  --bs-table-striped-bg: #ffffff3e;
  --bs-table-striped-color: var(--black);
  --bs-table-active-bg: #ddd4d4cb;
  --bs-table-active-color: var(--black);
  --bs-table-hover-bg: #ddd4d4cb;
  --bs-table-hover-color: var(--black);
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-transparent tr.rowDisabled{
  background-color: rgba(123, 123, 123, 0.2)
}

.table > :not(caption) > tr.rowDisabled > *{
  color: rgba(108, 108, 108, 0.703);
}

.btn-transparent{
  --bs-border-width: 3px;
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.3rem;
}

.btn-orange-transparent{
  --bs-btn-color: var(--black);
  --bs-btn-hover-color: var(--black);

  --bs-btn-bg: var(--transparent);
  --bs-btn-hover-bg: var(--semitransparent);

  --bs-btn-border-color: var(--orange);
  --bs-btn-hover-border-color: var(--orangedark);

  --bs-btn-focus-shadow-rgb: 60,153,110;
  --bs-btn-active-color: var(--black);
  --bs-btn-active-bg: var(--semitransparent);
  --bs-btn-active-border-color: var(--semitransparent);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--blackdisabled);
  --bs-btn-disabled-bg: var(--transparent);
  --bs-btn-disabled-border-color: #c15c38;
}

.btn-cream-transparent{
  --bs-btn-color: var(--black);
  --bs-btn-hover-color: var(--black);

  --bs-btn-bg: var(--transparent);
  --bs-btn-hover-bg: var(--semitransparent);

  --bs-btn-border-color: var(--darkcream);
  --bs-btn-hover-border-color: var(--darkcream);

  --bs-btn-focus-shadow-rgb: 60,153,110;
  --bs-btn-active-color: var(--black);
  --bs-btn-active-bg: var(--semitransparent);
  --bs-btn-active-border-color: var(--semitransparent);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--blackdisabled);
  --bs-btn-disabled-bg: var(--transparent);
  --bs-btn-disabled-border-color: var(--darkcream);
}

.btn-black-transparent{
  --bs-btn-color: var(--black);
  --bs-btn-hover-color: var(--black);

  --bs-btn-bg: var(--transparent);
  --bs-btn-hover-bg: var(--semitransparent);

  --bs-btn-border-color: var(--black);
  --bs-btn-hover-border-color: var(--black);

  --bs-btn-focus-shadow-rgb: 60,153,110;
  --bs-btn-active-color: var(--black);
  --bs-btn-active-bg: var(--semitransparent);
  --bs-btn-active-border-color: var(--semitransparent);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--blackdisabled);
  --bs-btn-disabled-bg: var(--transparent);
  --bs-btn-disabled-border-color: var(--blackdisabled);
}

.btn-orange-fill{
  --bs-btn-color: var(--white);
  --bs-btn-hover-color: var(--white);
  
  --bs-btn-bg: var(--orange);
  --bs-btn-hover-bg: #bd3200;
  
  --bs-btn-border-color: var(--orange);
  --bs-btn-hover-border-color: #bd3200;

  --bs-btn-focus-shadow-rgb: 60,153,110;
  --bs-btn-active-color: var(--black);
  --bs-btn-active-bg: #bd3200;
  --bs-btn-active-border-color: #bd3200;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--black);
  --bs-btn-disabled-bg: #c15c38;
  --bs-btn-disabled-border-color: #c15c38;
}

.myInputWidth{
  max-width: 500px;
}

.id {
  display: inline-block;
  width: 75px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description{
  display: inline-block;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

i{
  font-size: 24px;
}

i.mouseOver {
  cursor: pointer;
}

i.green{
  color: rgb(27, 130, 27);
}

i.red{
  color: rgb(124, 27, 27);
}

.img {
  height: 300px;
}

.text-bg-color .orange{
  color: var(--black);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--orange);
}

.text-bg-color .green{
  color: var(--black);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  background-color: rgb(20, 148, 20);
}

.text-bg-color .gray{
  color: var(--black);
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(174, 144, 103, 0.2);
}

.text-bg-color .row.rowGray{
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(130, 130, 130, 0.1);
}